h1 {
    border-radius: 30px;

}

.parent {
    background-color: rgb(0, 142, 224);
    width: 400px;
    height: 300px;
    border: 5px solid white;
    border-radius: 15px;
    position: relative;
}